body {
    font-family: helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    margin: 0;
}

.pagemain {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.bannercontainer {
    position: fixed;
    background-color: black;
    border-bottom: 1px solid seashell;
    height: 69px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bannercontainer img {
    margin-left: 10px;
}

.bannercontainer li {
    padding: 0 10px;
    display: inline;
}

.bannercontainer a {
    color: seashell;
}

.main {
    padding-top: 69px;
    width: 1200px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.missioncontainer {
    width: 1200px;
    height: 700px;
    background-image: url(../images/img-mission-background.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.missioncontainer h2, .missioncontainer h4 {
    background-color: black;
    margin: 0;
    padding: 10px 0;
    width: 100%;
    min-width: 400px;
}

.teacontainer {
    margin: 50px 0;
    width: 1000px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.teacontainer h2, .teacontainer h4 {
    width: 100%;
    margin: 0;
    padding: 10px 0;
}

.images {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.images img {
    height: 200px;
    width: 300px;
}

.images p {
    margin: 10px 0;
}

.locationscontainer {
    width: 1200px;
    height: 500px;
    background-image: url(../images/img-locations-background.jpg);
    background-position: 0 -60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.title h2 {
    height: 38px;
    position: absolute;
    top: -53px;
    margin: 0;
}

.address {
    height: auto;
    width: 300px;
    background-color: black;
    opacity: 1;
    margin: 0 20px;
}

.contactscontainer {
    width: 100%;
    height: 200px;
}

.footercontainer {
    text-align: left;
    padding-left: 20px;
}